*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A8DF8E;
    min-height: 100vh;
}
.container{
    width:500px;
    background-color: #F3FDE8;
    border-radius: 2%;
    padding: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    max-width: 500px;
    min-width: 400px;
    font-size:30px;
    text-align: center;
    resize: none;
    background-color:#F3FDE8;
    border: 0;
    margin-bottom: -35px;
    color: #7fb763;
    font-weight: 600;
}
.title::placeholder{
    color: #7fb763;
    opacity: 0.4;
    text-transform: lowercase;
}
.textarea{
    max-width: 500px;
    min-width: 400px;
    margin-top: 20px;
    min-height: 300px;
    max-height: 400px;
    margin-bottom: 20px;
    border-radius: 2%;
    background-color: #ffe5e5a7;
    border-color: #ffbfbf85;
    padding: 30px;
    font-size: medium;
    color: #7fb763;
    font-weight: 600;
    resize: none;
    overflow: auto;
}

textarea:focus {
    border-color:  #ffbfbf85;
    outline: none;
}
.btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
button{
    height: 30px;
    width: 70px;
    margin-top: 10px;
    background-color: #ffe5e5bf;
    border: 1px solid #ffbfbf5e;
    border-radius: 10%;
    color: #7fb763;
    font-weight: 600;
    font-size: 15px;
    text-transform: lowercase;
}
button:hover{
    background-color: #FFBFBF;
    transition: 0.5s;
}